@model IEnumerable<AgendaTarefa.Models.Tarefa>

@{ 
    Layout = null;
}

<div class="border border-light shadow rounded rounded-lg p-4">
    @if(Model.Count() > 0)
    {
        <ul class="list-group">
            @foreach(var item in Model)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2">
                            <span class="badge badge-info">@Html.DisplayFor(modelItem => item.Horario)</span>
                        </div>

                        <div class="col-6">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </div>

                        <div class="col-4">
                            <a asp-action="Atualizar Tarefa" asp-route-tarefaId="@item.TarefaId" class="btn btn-sm btn-outline-primary rounded-circle"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="#"  class="btn btn-sm btn-outline-danger rounded-circle"><i class="fa fa-times-circle"></i></a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="alert alert-warning">Sem Tarefas ainda!</p>
    }
</div>
